/* Global Styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

body.scrolled {
  background: white;
  color: black;
}

.App {
  position: relative; /* Position relative for positioning children */
}

/* Header */
.header {
  position: fixed; 
  top: 0;
  width: 100%;
  height: 130px;
  background: rgba(0, 0, 0, 0.20); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px; /* Adding some padding for better alignment on smaller screens */
}

.logo img {
  height: 200px; /* Adjust height for smaller screens */
  width: auto; /* Let the width auto-adjust based on the height */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px; /* Reduce padding for mobile */
}

/* Hero Section */
.image-container {
  position: relative;
  width: 100%; /* Full viewport width */
  height: calc(100vh); /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fixed-image {
  position: absolute;
  top: 60%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 33%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10;
}

.overlay-text p {
  font-size: 3rem; /* Responsive font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.overlay-text a {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 0;
}

/* Car Items */
.car-item {
  display: flex;
  flex-direction: column; /* Stack items on smaller screens */
  align-items: flex-start;
  justify-content: space-between;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 100px;
  height: auto;
  width: 100%;
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.car-description {
  flex: 1;
  color: black;
  padding-top: 20px;
}

.car-description h2 {
  font-size: 2rem; /* Responsive font size */
  margin-bottom: 10px;
}

.car-description p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Tablets */
@media (max-width: 1024px) {
  .header {
    height: 100px;
  }

  .logo img {
    height: 150px;
    margin-left: 50px;
  }

  .navbar a {
    font-size: 0.9rem;
    padding-right: 50px;
  }

  .image-container {
    height: 80vh;
  }

  .overlay-text p {
    font-size: 2.5rem;
  }

  .overlay-text a {
    font-size: 1.2rem;
  }

  .car-item {
    padding-left: 40px;
    margin-bottom: 50px;
  }
}

/* Mobile Screens */
@media (max-width: 768px) {
  .header {
    height: 80px;
  }

  .logo img {
    height: 100px;
    margin-left: 10px;
  }

  .navbar {
    flex-direction: column; /* Stack navigation links */
    padding: 10px 0;
  }

  .navbar a {
    font-size: 0.8rem;
    padding: 10px 0;
  }

  .image-container {
    height: 70vh;
  }

  .overlay-text p {
    font-size: 2rem;
  }

  .overlay-text a {
    font-size: 1rem;
  }

  .car-item {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
  }
}
