/* App.css */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

body.scrolled {
  background: white;
  color: black;
}

.App {
  position: relative; /* Position relative for positioning children */
}

.header {
  position: fixed; /* Keep header fixed at the top */
  top: 0;
  width: 100%;
  height: 130px;
  background:rgba(0, 0, 0, 0.20); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo img {
  height: 230px;
  width: 230px; 
  margin-left: 200px;
}



.navbar a {
  font-size: 17px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding-right: 160px;
}

.image-container {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: calc(100vh - 100px); /* Full height minus header height */
  display: flex;
  justify-content: center; /* Center contents */
  align-items: center; /* Center contents */
  overflow: hidden; /* Hide any overflow */
}

.fixed-image {
  position: absolute; /* Absolute positioning for the image */
  top: 60%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  transform: translate(-50%, -50%); /* Translate to center */
  object-fit: cover; /* Cover the container without stretching */
}

.overlay-text {
  position: absolute; /* Absolute positioning for the text */
  top: 33%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Translate to center */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  z-index: 10; /* Ensure text is above the image */
}

.overlay-text p {
  font-size: 50px; /* Adjust as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  margin-bottom: 20px;
  ;

}

.overlay-text a {
  font-size: 24px; /* Adjust as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  margin-top: 0px;

}

.car-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 100px;
  height: auto;
  width: 100%;
  padding-left: 160px;

}

.car-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.car-description {
  flex: 1;
  color: black;
}

.car-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.car-description p {
  font-size: 16px;
  line-height: 1.5;
}


